// Box sizing
$default-background-size: 100% auto !default;
$default-background-clip: padding-box !default;
$default-background-origin: content-box !default;

@mixin background-size ($size...) {
	$size: set-arglist-default($size, $default-background-size);
	@include prefixed-properties(css-background, (background-size: $size));
}
@mixin background-clip ($clip...) {
	$output: ();
	$deprecated: ();
	@if (length($clip) > 0) {
		@each $layer in $clip {
			$output: append($output, unquote($layer), comma);
			$deprecated: append($deprecated, legacy-box($layer), comma);
		}
	} @else {
		$output: $default-background-clip;
		$deprecated: legacy-box($default-background-clip);
	}
	@include with-each-prefix(css-background) {
		@if $current-prefix == -moz or $current-prefix == -webkit {
			@include prefix-prop(background-clip, $deprecated);
		} @else {
			@include prefix-prop(background-clip, $output);
		}
	}
}
@mixin background-origin ($origin...) {
	$output: ();
	$deprecated: ();
	@if (length($origin) > 0) {
		@each $layer in $origin {
			$output: append($output, unquote($layer), comma);
			$deprecated: append($deprecated, legacy-box($layer), comma);
		}
	} @else {
		$output: $default-background-origin;
		$deprecated: legacy-box($default-background-origin);
	}
	@include with-each-prefix(background-img-opts, $background-origin-threshold) {
		@if $current-prefix == -moz or $current-prefix == -webkit {
			@include prefix-prop(background-origin, $deprecated)
		} @else {
			@include prefix-prop(background-origin, $output)
		}
	}
}