// KeyFrames
$default-animation-name: null !default;
$default-animation-duration: null !default;
$default-animation-delay: null !default;
$default-animation-timing-function: null !default;
$default-animation-iteration-count: null !default;
$default-animation-direction: null !default;
$default-animation-fill-mode: null !default;
$default-animation-play-state: null !default;

@mixin keyframes ($animation-name) {
	@include with-each-prefix(css-animation) {
		@if $current-prefix == -webkit { @-webkit-keyframes #{$animation-name} { @content; } }
		@if $current-prefix == -moz    { @-moz-keyframes    #{$animation-name} { @content; } }
		@if $current-prefix == -ms     { @-ms-keyframes     #{$animation-name} { @content; } }
		@if $current-prefix == -o      { @-o-keyframes      #{$animation-name} { @content; } }
		@if $current-prefix == null    { @keyframes         #{$animation-name} { @content; } }
	}
}

@mixin animation-properties ($properties) {
	@include prefixed-properties(css-animation, $properties);
}
@mixin animation-name ($name...) {
	$name: set-arglist-default($name, $default-animation-name);
	@include animation-properties((animation-name: $name));
}
@mixin animation-duration ($duration...) {
	$duration: set-arglist-default($duration, $default-animation-duration);
	@include animation-properties((animation-duration: $duration));
}
@mixin animation-delay ($delay...) {
	$delay: set-arglist-default($delay, $default-animation-delay);
	@include animation-properties((animation-delay: $delay));
}
@mixin animation-timing-function ($function...) {
	$function: set-arglist-default($function, $default-animation-timing-function);
	@include animation-properties((animation-timing-function: $function));
}
@mixin animation-iteration-count ($count...) {
	$count: set-arglist-default($count, $default-animation-iteration-count);
	@include animation-properties((animation-iteration-count: $count));
}
@mixin animation-direction ($direction...) {
	$direction: set-arglist-default($direction, $default-animation-direction);
	@include animation-properties((animation-direction: $direction));
}
@mixin animation-fill-mode ($mode...) {
	$mode: set-arglist-default($mode, $default-animation-fill-mode);
	@include animation-properties((animation-fill-mode: $mode));
}
@mixin animation-play-state ($state...) {
	$state: set-arglist-default($state, $default-animation-play-state);
	@include animation-properties((animation-play-state: $state));
}

@function default-animation () {
  @return compact($default-animation-name
                  $default-animation-duration
                  $default-animation-timing-function
                  $default-animation-delay
                  $default-animation-iteration-count
                  $default-animation-direction
                  $default-animation-fill-mode
                  $default-animation-play-state);
}
@mixin animation ($animation...) {
	$animation: if(length($animation) > 0, $animation, default-animation());
	@include animation-properties((animation: $animation));
}