@mixin opacity($opacity) {
	$opacity-ie: #{round($opacity * 100)};
	@if $opacity == 1 {
		filter: #{alpha(opacity=$opacity-ie)};
		filter: unquote("progid:DXImageTransform.Microsoft.Alpha(enabled=false)");
	} @else {
		filter: #{alpha(opacity=$opacity-ie)};
		filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity-ie})");
	}
	@include prefixed-properties(css-opacity, (opacity: $opacity));
}
@mixin transparent { @include opacity(0); }
@mixin opaque { @include opacity(1); }