//Transform
$default-origin-x: 50% !default;
$default-origin-y: 50% !default;
$default-origin-z: 50% !default;

$default-scale-x: 1.25 !default;
$default-scale-y: $default-scale-x !default;
$default-scale-z: $default-scale-x !default;

$default-rotate: 45deg !default;

$default-vector-x: 1 !default;
$default-vector-y: 1 !default;
$default-vector-z: 1 !default;

$default-translate-x: 1em !default;
$default-translate-y: $default-translate-x !default;
$default-translate-z: $default-translate-x !default;

$default-skew-x: 5deg !default;
$default-skew-y: 5deg !default;

@mixin apply-origin ($origin, $only3d) {
	$capability: if($only3d or length($origin) > 2, css-transforms-3d, css-transforms-2d);
	@include prefixed-properties($capability, (
		transform-origin: $origin
	));
}
@mixin transform-origin (
  $origin-x: $default-origin-x,
  $origin-y: $default-origin-y,
  $origin-z: false,
  $only3d: if($origin-z, true, false)
) {
		$origin: unquote('');
		@if $origin-x or $origin-y or $origin-z {
		@if $origin-x { $origin: $origin-x; } @else { $origin: 50%; }
		@if $origin-y { $origin: $origin $origin-y; } @else { @if $origin-z { $origin: $origin 50%; }}
		@if $origin-z { $origin: $origin $origin-z; }
		@include apply-origin($origin, $only3d);
	}
}
@mixin transform (
  $transform,
  $only3d: false
) {
	$capability: if($only3d, css-transforms-3d, css-transforms-2d);
	@include prefixed-properties($capability, (
		transform: $transform
	));
}

@mixin transform2d ($trans) {
	@include transform($trans, false);
}
@mixin transform3d ($trans) {
	@include transform($trans, true);
}
@mixin perspective ($p) {
	@include prefixed-properties(css-transforms-3d, (
		perspective: $p
	));
}
@mixin perspective-origin ($origin: 50%) {
	@include prefixed-properties(css-transforms-3d, (
		perspective-origin: $origin
	));
}
@mixin transform-style ($style: preserve-3d) {
	@include prefixed-properties(css-transforms-3d, (
		transform-style: $style
	));
}
@mixin backface-visibility($visibility: hidden) {
	@include prefixed-properties(css-transforms-3d, (
		backface-visibility: $visibility
  	));
}
@mixin scale (
  $scale-x: $default-scale-x,
  $scale-y: $scale-x,
  $perspective: false,
  $only3d: false
) {
	$trans: scale($scale-x, $scale-y);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin scaleX (
  $scale: $default-scale-x,
  $perspective: false,
  $only3d: false
) {
	$trans: scaleX($scale);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin scaleY (
  $scale: $default-scale-y,
  $perspective: false,
  $only3d: false
) {
	$trans: scaleY($scale);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin scaleZ (
  $scale: $default-scale-z,
  $perspective: false
) {
	$trans: scaleZ($scale);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin scale3d (
  $scale-x: $default-scale-x,
  $scale-y: $default-scale-y,
  $scale-z: $default-scale-z,
  $perspective: false
) {
	$trans: scale3d($scale-x, $scale-y, $scale-z);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin rotate (
  $rotate: $default-rotate,
  $perspective: false,
  $only3d: false
) {
	$trans: rotate($rotate);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin rotateX (
  $rotate: $default-rotate,
  $perspective: false
) {
	$trans: rotateX($rotate);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin rotateY (
  $rotate: $default-rotate,
  $perspective: false
) {
	$trans: rotateY($rotate);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin rotateZ (
  $rotate: $default-rotate,
  $perspective: false,
  $only3d: false
) {
	@include rotate($rotate, $perspective, $only3d);
}
@mixin rotate3d (
  $vector-x: $default-vector-x,
  $vector-y: $default-vector-y,
  $vector-z: $default-vector-z,
  $rotate: $default-rotate,
  $perspective: false
) {
	$trans: rotate3d($vector-x, $vector-y, $vector-z, $rotate);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin translate (
  $translate-x: $default-translate-x,
  $translate-y: $default-translate-y,
  $perspective: false,
  $only3d: false
) {
	$trans: translate($translate-x, $translate-y);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin translateX (
  $trans-x: $default-translate-x,
  $perspective: false,
  $only3d: false
) {
	$trans: translateX($trans-x);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin translateY (
  $trans-y: $default-translate-y,
  $perspective: false,
  $only3d: false
) {
	$trans: translateY($trans-y);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform($trans, $only3d);
}
@mixin translateZ (
  $trans-z: $default-translate-z,
  $perspective: false
) {
	$trans: translateZ($trans-z);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin translate3d (
  $translate-x: $default-translate-x,
  $translate-y: $default-translate-y,
  $translate-z: $default-translate-z,
  $perspective: false
) {
	$trans: translate3d($translate-x, $translate-y, $translate-z);
	@if $perspective { $trans: perspective($perspective) $trans; }
	@include transform3d($trans);
}
@mixin skew (
  $skew-x: $default-skew-x,
  $skew-y: $default-skew-y,
  $only3d: false
) {
	$trans: skew($skew-x, $skew-y);
	@include transform($trans, $only3d);
}
@mixin skewX (
  $skew-x: $default-skew-x,
  $only3d: false
) {
	$trans: skewX($skew-x);
	@include transform($trans, $only3d);
}
@mixin skewY (
  $skew-y: $default-skew-y,
  $only3d: false
) {
	$trans: skewY($skew-y);
	@include transform($trans, $only3d);
}
@mixin create-transform (
  $perspective: false,
  $scale-x: false,
  $scale-y: false,
  $scale-z: false,
  $rotate-x: false,
  $rotate-y: false,
  $rotate-z: false,
  $rotate3d: false,
  $trans-x: false,
  $trans-y: false,
  $trans-z: false,
  $skew-x: false,
  $skew-y: false,
  $origin-x: false,
  $origin-y: false,
  $origin-z: false,
  $only3d: false
) {
	$trans: unquote("");
	@if $perspective { $trans: perspective($perspective) ; }
	@if $scale-x and $scale-y {
		@if $scale-z { $trans: $trans scale3d($scale-x, $scale-y, $scale-z); }
		@else { $trans: $trans scale($scale-x, $scale-y); }
	} @else {
		@if $scale-x { $trans: $trans scaleX($scale-x); }
		@if $scale-y { $trans: $trans scaleY($scale-y); }
		@if $scale-z { $trans: $trans scaleZ($scale-z); }
	}
	@if $rotate-x { $trans: $trans rotateX($rotate-x); }
	@if $rotate-y { $trans: $trans rotateY($rotate-y); }
	@if $rotate-z { $trans: $trans rotateZ($rotate-z); }
	@if $rotate3d { $trans: $trans rotate3d($rotate3d); }
	@if $trans-x and $trans-y {
		@if $trans-z { $trans: $trans translate3d($trans-x, $trans-y, $trans-z); }
		@else { $trans: $trans translate($trans-x, $trans-y); }
	} @else {
		@if $trans-x { $trans: $trans translateX($trans-x); }
		@if $trans-y { $trans: $trans translateY($trans-y); }
		@if $trans-z { $trans: $trans translateZ($trans-z); }
	}

	@if $skew-x and $skew-y { 
  		$trans: $trans skew($skew-x, $skew-y); 
	} @else {
		@if $skew-x { $trans: $trans skewX($skew-x); }
		@if $skew-y { $trans: $trans skewY($skew-y); }
	}
	@include transform($trans, $only3d);
	@include transform-origin($origin-x, $origin-y, $origin-z, $only3d);
}
@mixin simple-transform (
  $scale: false,
  $rotate: false,
  $trans-x: false,
  $trans-y: false,
  $skew-x: false,
  $skew-y: false,
  $origin-x: false,
  $origin-y: false
) {
	@include create-transform(
		false,
		$scale, $scale, false,
		false, false, $rotate, false,
		$trans-x, $trans-y, false,
		$skew-x, $skew-y,
		$origin-x, $origin-y, false,
		false
	);
}
