// User select
@mixin user-select ($select) {
	$select: unquote($select);
	@include with-each-prefix(css-user-select) {
		@include prefix-prop(user-select, if($current-prefix == -moz and $select == 'none', -moz-none, $select));
	}
}
// Appearance
@mixin appearance ($appearance) {
	$appearance: unquote($appearance);
	@include with-each-prefix(css-appearance) {
		@include prefix-prop(appearance, $appearance);
	}
}
// Placeholder
@mixin input-placeholder {
	@include with-each-prefix(css-placeholder) {
		@if $current-prefix == -webkit {
			&::-webkit-input-placeholder { 
				@content; 
			}
		} @elseif $current-prefix == -moz {
			&:-moz-placeholder { 
				@content;
			}
			&::-moz-placeholder { 
				@content; 
			}
		} @elseif $current-prefix == -ms {
			&:-ms-input-placeholder { 
				@content; 
			}
		}
	}
}
@mixin placeholder ($color: false) {
	&::-moz-placeholder {
		@include opacity(1); 
	}
	@include input-placeholder {
		@if $color {
			color: $color;
		}
		@content; 
	}
}
// Selection
@mixin selection ($background-color: null, $color: contrast-color($background-color)) {
	@include with-each-prefix(css-selection) {
		$selector: "";
		@if $current-prefix != null {
			$selector: $current-prefix + "-";
		}
		$selector: "&::#{$selector}selection";
		#{$selector} {
			color: $color;
			background-color: $background-color;
			@content;
		}
	}
}