@import "./base";
@import "../tools/color";

@mixin list-group-item-variant ($background, $color) {
  color: $color;
  background-color: $background;
  @at-root a#{&}, button#{&}, label#{&} {
    color: $color;
    @include hover-focus(false) {
      color: $color;
      background-color: shade-color($background, 10%);
    }
    @include active(true) {
      color: $white;
      background-color: darken($background, 10%);
      border-color: rgba(darken($color, 10%), 1);
    }
    &.active {
      @include plain-hover-focus-active(false) {
        color: $white;
        background-color: darken($background, 10%);
        border-color: rgba(darken($color, 10%), 1);
      }
    }
  }
}