@import "../base/vars/typography";

@mixin list-unstyled () {
  padding-left: 0;
  list-style: none;
}
@mixin text-variant ($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: darken($color, 10%);
  }
}
@mixin bg-variant ($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    background-color: darken($color, 10%);
  }
}
@mixin text-base () {
  font-size: $font-size-base;
  line-height: $line-height-base;
}
@mixin text-lg () {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}
@mixin text-sm () {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

@mixin text-overflow () {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin tab-focus () {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
@mixin disable-mouse-outline () {
  outline: 0;
  outline: none;
}