// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

//
$font-size-base:              1rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$line-height-base:			  1.5 !default;
$line-height-lg:			  1.5 !default;
$line-height-sm:			  1.5 !default;

// Body
//
// Settings for the `<body>` element.
$body-bg:                     #002650 !default;
$body-color:                  rgba(#fff, .7) !default;

// Links
//
// Style anchor elements.
$link-color:                  rgba(#00aeff, 1) !default;
$link-decoration:             none !default;
$link-hover-color:            rgba(#fff, 1) !default;
$link-hover-decoration:       underline !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:     1rem !default;

// Position
//
// Define the edge positioning anchors of the position utilities.

$position-values: (
        0: 0,
        50: 50%,
        100: 100%
) !default;
$embed-responsive-aspect-ratios: () !default;
$embed-responsive-aspect-ratios: join((
                (21 9),
                (16 9),
                (4 3),
                (1 1),
), $embed-responsive-aspect-ratios);
// Characters which are escaped by the escape-svg function
$escaped-characters: (
                ("<", "%3c"),
                (">", "%3e"),
                ("#", "%23"),
                ("(", "%28"),
                (")", "%29"),
) !default;