// Close
@import "../../vars/colors";

$close-font-size:                   1.5rem !default;
$close-font-weight:                 700 !default;
$close-color:                       $black !default;
$close-text-shadow:                 0 1px 0 $white !default;