@import "../../vars/colors";
@import "../../vars/components";
// Table
$table-caption-color:         $gray-600 !default;

$table-color:                 null !default;
$table-bg:                    rgba(#000, 0) !default;
$table-table-bg:              #002650 !default;

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-border-width:          $border-width !default;
$table-border-color:          rgba(#dee2e6, .2) !default;

$table-striped-order:         odd !default;
$table-accent-bg:             rgba(0,0,0,.075) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba(0,0,0,.175) !default;

$table-active-bg:             $table-hover-bg !default;

$table-head-bg:               #e9ecef !default;
$table-head-color:            #495057 !default;

$table-dark-color:            rgba(255,255,255,.7) !default;
$table-dark-bg:               rgba(9,85,135,.1) !default;
$table-dark-border-color:     rgba(255,255,255,.1) !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-color:      $table-dark-color !default;
$table-dark-hover-bg:         rgba(0,174,255,.4) !default;